# Python
__pycache__/
.env
.venv/
.DS_Store
.vscode/
.idea/
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Pydantic AI
pydantic-ai/

# Python backend
python-backend/__pycache__/
python-backend/.env
python-backend/.venv/
python-backend/venv/

# Electron
dist/
build/
node_modules/

# DB
*.db